@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center rounded-3xl
    h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
    bg-purple-600 text-white
    hover:bg-purple-900 hover:rounded-xl
    transition-all duration-300 ease-linear
    cursor-pointer;
  }
}
.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14
  rounded-md shadow-md
  text-white bg-purple-600
  text-xs font-bold
  transition-all duration-100 scale-0 origin-left;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromRight {
  animation: slideInFromRight 0.5s ease-out;
}
@keyframes slideOutToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideOutToRight {
  animation: slideOutToRight 0.5s ease-out;
}
