@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromRight {
  animation: slideInFromRight 0.5s ease-out;
}
@keyframes slideOutToRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromLeft {
  animation: slideOutToRight 0.5s ease-out;
}
